body{
    background-color: rgb(231, 231, 231);
    box-sizing:border-box;
    font-family: sans-serif;
}

h1{
    display: flex;
    justify-content: center;
    margin: 2rem
}

.calculator{
    background-color: #D3E3FC;
    width: 30rem;
    height: 39rem;
    display: flex;
    flex-direction: column;
    border: 0.4rem solid #486496;
    margin: 2rem auto;
}

.screen{
    background: rgb(231, 231, 231);
    width: 26rem;
    height: 8rem;
    border: 0.4rem solid #486496;
    margin: 1.2rem auto 1.2rem auto;
    padding: 0.3rem;
}

.screen-calculation{
    display: flex;
    font-size: 1.5rem;
    justify-content: end; 
    margin: 0.25rem 0.4rem 0.8rem 0.4rem;
}

.screen-result{
    display: flex;
    font-size: 2.5rem;
    justify-content: end; 
}


.btn-small{
    display: flex; 
    font-size: 2.25rem;
    flex-direction: row;
    margin: 0.6rem 2.5rem;
    gap: 1rem;
}

.btn-upper,
.btn-digit,
.btn-operator{
    width: 7rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    box-shadow: 0.3rem  0.3rem 0.45rem ;
    /* margin: 4px;
    padding: 4px;  */
}

#keyPoint,
.btn-digit{
    background:#FFFFFF;
}

.btn-operator{
    background:#FFCCBC;
}

#keyClear,
#keyBackspace{
    width: 11.2rem;  
    background-color: #a9bbd8;
}

#key0{
    width: 14.7rem;
}